<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= render "layouts/style" %>
<%= notice %>

<div class="center"><h1 class="big-text" style="font-size: 30px;">See how your music stacks up against the Spotify community.</h1>

<p class="link"><%= link_to 'Sign in with Spotify to analyze your music profile', '/auth/spotify' %><p>
</div>